<header>
    <div>
        <div class="container">
            <h3 class="display-5"> <img class="logo1" src="/img/todolistgodo.png"> Get Shit Done</h3>
        </div>
    </div>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" href="/list">To Do-List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="logoff()">Logout</a>
        </li>
    </ul>
</header>