* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

html {
    font-size: 16px;
}


/* body {
    line-height: 1.4;
    color: #333333;
    font-family: Helvetica, Arial, sans-serif;
} */

body {
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh
}


footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

.logo1 {
    width: 60px;
    height: 50px;
}



/* header .logo1 {
    margin: 2px;
    margin-top: 4px;
    padding: 2px;
    color: #00a6f0;
} */
